<div class="author">{{post.nickname}} said:</div>
<div class="content">{{post.content}}</div>
<div class="foot">
    <span>{{post.ts}}</span>
    <span class="toolbar">
        <a *ngIf="owned" (click)="deletePost()">Delete</a>&nbsp;
        <a  (click)="child.switchShow()">Comments({{post.comments}})</a>&nbsp;
        <a *ngIf="post.mid < 1" (click)="markPost()">Mark</a>
        <a *ngIf="post.mid > 0" (click)="unmarkPost()">Marked</a>
    </span>
</div>
<app-comment #child [post]="post" (submitted)="onSubmitComment($event)"></app-comment>
