<aside>
    <div class="panel">
        <p> </p>
        <div id="nickname" *ngIf="!changing">{{user.nickname}}</div>
        <button id="btn_change_name" *ngIf="!changing" (click)="clickChang()">Change</button>
        <input  [(ngModel)]="newNickname"  *ngIf="changing" maxlength="16">
        <button *ngIf="changing"(click)="clickSubmit()">Submit</button>
        <hr>
        <ul>
            <li>Posts: <a>{{user.posts}}</a></li>
            <li>Marked: <a>{{user.marks}}</a></li>
            <li>Comments: <a>{{user.comments}}</a></li>
        </ul>
    </div>
</aside>