<aside>
    <div class="panel">
        <p> </p>
        <div id="nickname" *ngIf="!changing">{{user.nickname}}</div>
        <button id="btn_change_name" *ngIf="!changing" (click)="clickChang()">Change</button>
        <input  [(ngModel)]="newNickname"  *ngIf="changing" maxlength="16">
        <button *ngIf="changing"(click)="clickSubmit()">Submit</button>
        <hr>
        <ul>
            <li>Posts: 
                <a *ngIf="user.posts > 0" [routerLink]="['/user', 'posts']" (click)="urlChange('posts')">{{user.posts}}</a>
                <span *ngIf="user.posts == 0">0</span>
            </li>
            <li>Marked: 
                <a *ngIf="user.marks > 0" [routerLink]="['/user', 'marks']" (click)="urlChange('marks')">{{user.marks}}</a>
                <span *ngIf="user.marks == 0">0</span>
            </li>
        </ul>
    </div>
</aside>