#btn_loadnew {
    margin: 10px auto;
    border: 0;
    height: 25px;
    width: 100%;
    background-color: #fcfae6;
    color: rgb(27, 22, 8);
    letter-spacing: 2px;
    font-size: 14px;
    cursor: pointer;
}

#btn_loadmore {
    display: block;
    margin: 5px auto 15px auto;
    height: 30px;
    width: 80%;
    background-color: #1e3f35;
    color: #e1e2d4;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #e1e2d4;
}

.post{
    position: relative;
    margin-bottom: 20px;
}

.post .author{
    color: #585757;
    font-size: 14px;
    margin-bottom: 5px;
}

.post .content {
    font-size: 16px;
    font-family: sans-serif;
    margin-bottom: 5px;
}

.post .attachment {
    margin: 10px 0 10px 20px;
}

.post .attachment img{
    max-width: 500px;
    border-radius: 20px;
}

.post .foot {
    font-size: 14px;
    color: grey;
    margin-bottom: 10px;
}

.post .foot .toolbar {
    position: absolute;
    right: 10px;
}

.comment {
    display: block;
}

.comment p{
    text-indent: 20px;
    color: rgb(53, 52, 52);
    font-size: 14px;
    margin: 5px auto;
}

/* Used for the comment textarea beneath every post */
.comment textarea {
    border: 1px solid #b9b6b6;
    margin-left: 20px;  /* Should be comply with the text-indent of .comment style */
    padding: 5px;
    width: 80%;
    height: 15px;
    font-size: 13px;
    resize: none;
}

/* Used to send the comment for the post */
.comment button {
    position:  absolute;
    right: 10px;
    bottom: 10px;
    height: 25px;
    padding: 0 10px;
    background-color: dimgray;
    color: white;
    border-radius: 5px;
}

.comment button:hover{
    background-color: black;
}

#page_no {
    margin-top: 80px;
    text-align: center;
}