<div class="index">
    <form id="register" class="box" method="POST" (submit)="register()" ngNativeValidate>
        <h1>Register</h1>
        <input type="email" name="email" placeholder="Email" autocomplete="off" [(ngModel)]="email" required>
        <input type="password" name="password" placeholder="Password" minlength="6" maxlength="36" [(ngModel)]="password" required>
        <input type="password" name="repeat_passwd" placeholder="Repeat password" minlength="6" maxlength="36" [(ngModel)]="repeatPw" required>
        <input type="text" name="nickname" autocomplete="off" placeholder="Nickname (optional)" maxlength="16" [(ngModel)]="nickname">
        <div class="btns">
                <button type="submit">Submit</button>
                <button (click)="backToLogin()">Back</button>
        </div>
    </form>
    <footer>
        Copyright @2020 Anon Square test version. All rights reserved.
    </footer>
</div>