body{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

hr {
    border: 0;
    height: 1px;
    background-color: lightgray;
}

header{
    position: relative;
    margin-bottom: 50px;
    overflow: hidden;
    min-width: 1024px;
    background-color: #1e3f35;
}

nav{
    position: relative; 
    /* Important for serach bar, since absolute layout cannot have a static paretent */
    width: 1000px;
    overflow: hidden;
    padding-top: 12px;
    margin: auto;   /* make div center */
}

.nav_logo{
    width: 150px;
    height: 60px;
    float: left;
    font-size: 28px;
    color: #e1e2d4;
}

.nav_items {
    float: left;
    margin-top: 15px;
    color: #e1e2d4;
}

.nav_items li {
    display: inline;
    margin-right: 20px;
}

.nav_items a{
    color: #e1e2d4;
}

.nav_search {
    position: absolute;
    right: 0;
    margin-top: 15px;
    overflow: hidden;
    padding: 10px 100px 15px 0;
}

#top_search {
    border: 1px solid #b9b6b6;
    padding: 5px;
    width: 200px;
    height: 16px;
    font-size: 14px;
    background-color: #f5f1e3;
}

#top_search:focus {
    background-color: white;
}

content {
    position: relative;
    overflow: hidden;
    min-width: 1024px;
}

/* Use margin auto to put element in center horizontally, 
   Use flex to make two grid equal height vertically. */
#wrapper {
    position: relative;
    display: flex;
    width: 1000px;
    margin: 0 auto;
    min-height: calc(85vh - 40px);
}

article {
    width: 650px;
    margin: 0 20px;
    float: left;
}

aside {
    margin: 0 10px;
    float: left;
    width: 270px;
}

#draft {
    border: 1px solid #b9b6b6;
    padding: 5px;
    width: 600px;
    height: 20px;
    font-size: 14px;
}

#submit {
    float: right;
    margin: 10px 40px 0 0;
}

#hide {
    margin: 10px 40px 0 0;
}

#write_box {
    margin-bottom: 50px;
}

.post{
    position: relative;
    margin-bottom: 30px;
}

.post .author{
    color: #585757;
    font-size: 14px;
    margin-bottom: 10px;
}

.text {
    font-size: 16px;
    margin-bottom: 10px;
}

.post .foot {
    font-size: 14px;
    color: grey;
}

.post .tool {
    position: absolute;
    right: 10px;
}


footer{
    position: relative;
    width: 900px;
    margin: auto;
    padding: 0 50px;
    height: 30px;
    font-size: 12px;
}