body{
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
}

body .modal-open {
    overflow: hidden;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: rgb(24, 105, 59);
}

a:hover {
    color: rgb(26, 221, 26);
    text-decoration: underline;
}

hr {
    border: 0;
    height: 1px;
    background-color: lightgray;
}

main {
    position: relative;
    overflow: hidden;
    min-width: 1024px;
}

#wrapper {
    position: relative;
    display: flex;
    width: 1000px;
    margin: 0 auto;
    min-height: calc(85vh - 20px);
}

article {
    width: 650px;
    margin: 0 20px;
    float: left;
}

div .hidden{
    display: none;
}

.div center {
    text-align: center;
}

div .loading-img {
    text-align: center;
    margin: 80px auto;
}

footer{
    clear: both;
    position: relative;
    height: 20px;
    margin-top: -20px;
    margin: 0 auto;
    width: 80%;
    padding-right: 100px;
    font-size: 14px;
    text-align: center;
    color: grey;
}

#foot-note {
    padding: 20px auto;
    position: absolute;
    bottom: 0;
    height: 80px;
    width: 100%;
    z-index: 1;
    background-color: rgb(229, 252, 188);
    font-size: 16px;
    text-align: center;
    color: grey;
    opacity: 1;
}

.close {
    color: rgb(110, 109, 109);
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 25px;
    font-weight: bold;
}

.title {
    font-size: 22px;
    font-weight: 550;
    text-align: center;
    margin-top: 15px;
    color: rgb(4, 150, 23);
}

.subtitle {
    font-size: 18px;
    font-weight: 550;
    margin: 10px auto;
    color: rgb(16, 110, 36);
}

.code {
    background-color: rgb(240, 233, 233);
}

.hidden {
    display: none;
}