body{
    margin: 0;
    padding: 0;
}

body .modal-open {
    overflow: hidden;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: rgb(24, 105, 59);
}

a:hover {
    color: rgb(26, 221, 26);
    text-decoration: underline;
}

hr {
    border: 0;
    height: 1px;
    background-color: lightgray;
}

main {
    position: relative;
    overflow: hidden;
    min-width: 1024px;
}

#wrapper {
    position: relative;
    display: flex;
    width: 1000px;
    margin: 0 auto;
    min-height: calc(85vh - 20px);
}

article {
    width: 650px;
    margin: 0 20px;
    float: left;
}

div .hidden{
    display: none;
}

.div center {
    text-align: center;
}

div .loading-img {
    text-align: center;
    margin: 80px auto;
}

footer{
    margin: 0 auto;
    width: 80%;
    padding-right: 100px;
    height: 20px;
    font-size: 14px;
    text-align: center;
    color: grey;
}