content {
    position: relative;
    overflow: hidden;
    min-width: 1024px;
}

/* Use margin auto to put element in center horizontally, 
   Use flex to make two grid equal height vertically. */
article {
    position: relative;
    display: flex;
    width: 700px;
    margin: 0 auto;
    min-height: calc(80vh - 40px);
}

li {
    margin: 6px auto;
}
