<header>
    <nav>
        <div id="nav_logo">Anon Square</div>
        <div id="nav_items">
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/message">Message</a></li>
                <li><a routerLink="/setting">Setting</a></li>
                <li><a routerLink="/help">Help</a></li>
                <li><a (click)="logout()">Quit</a></li>
            </ul>
        </div>
        <div id="nav_search">
            <input placeholder="Search">
        </div>
    </nav> 
</header>