<content>
        <article> 
            <div id="setting">
                <div id="title">{{user.email}}</div>
                <label>Nickname (16 characters max):</label> 
                <input [(ngModel)]="newNickname">
                <label>Password (Leave blank to stay unchanged):</label> 
                <input type="password" [(ngModel)]="newPassword">
                <label>Repeat Password:</label> 
                <input type="password" [(ngModel)]="newPasswordRepeat">
                <button (click)="submitChange()">Submit</button>
                <button id="btn_reset" (click)="reset()">Reset</button>
            </div>
        </article>
</content>